{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Chat App" name="description" />
    <meta content="Shabeer Ahammed" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- magnific-popup css -->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />

    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    {% comment %}
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    {% endcomment %}

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- App Css-->
    <link href="{% static 'css/chat.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-layout-mode="light">
    <div class="layout-wrapper d-lg-flex">
        <!-- start chat-leftsidebar -->
        <div class="chat-leftsidebar me-lg-1 ms-lg-0">

            <!-- Start chats content -->
            <div>

                <div class="px-4 pt-4">
                    <h4 class="mb-4">
                        Welcome, {{ user.profile.full_name }}
                    </h4>
                    <input type="hidden" id="send-by-user" value="{{ user.id }}" />
                    <div class="search-box chat-search-box">
                        <div class="input-group mb-3 rounded-3">
                            <span class="input-group-text text-muted bg-light pe-1 ps-3" id="basic-addon1">
                                <i class="ri-search-line search-icon font-size-18"></i>
                            </span>
                            <input type="text" class="form-control bg-light" placeholder="Search messages or users"
                                aria-label="Search messages or users" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <!-- Search Box-->
                </div>
                <!-- .p-4 -->

                <!-- Start user status -->
                <div class="px-4 pb-4" dir="ltr">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag" id="user-status-carousel">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px,0px,0px); transition: all 0s ease 0s; width: 435px;">

                                {% for chat_user in ChatUsers %}
                                <div class="owl-item active" style=" width: 71px; margin-right: 16px;">
                                    <div class="item">
                                        <a href="javascript: void(0);" class="user-status-box">
                                            <div class="avatar-xs mx-auto d-block chat-user-img online">
                                                <img src="{{ chat_user.profile.avatar_url }}" alt="user-img"
                                                    class="img-fluid rounded-circle" />
                                                <span class="user-status"></span>
                                            </div>

                                            <h5 class="font-size-13 text-truncate mt-3 mb-1">
                                                {{ chat_user.first_name }}
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}

                                {% comment %}
                                <div class="owl-item active" style="width: 71px; margin-right: 16px;">
                                    <div class="item">
                                        <a href="javascript: void(0);" class="user-status-box">
                                            <div class="avatar-xs mx-auto d-block chat-user-img online">
                                                <img src="{% static 'img/avatar-4.jpg' %}" alt="user-img"
                                                    class="img-fluid rounded-circle" />
                                                <span class="user-status"></span>
                                            </div>

                                            <h5 class="font-size-13 text-truncate mt-3 mb-1">
                                                Doris
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                {% endcomment %}
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev">
                                <span aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next">
                                <span aria-label="Next">›</span>
                            </button>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>
                    <!-- end user status carousel -->
                </div>
                <!-- end user status -->

                <!-- Start chat-message-list -->
                <div>
                    <h5 class="mb-3 px-3 font-size-16">Recent</h5>
                    <div class="chat-message-list px-2" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: 0px -8px">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: -17px; bottom: 0px">
                                    <div class="simplebar-content-wrapper"
                                        style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px 8px">
                                            <ul class="list-unstyled chat-list chat-user-list">

                                                {% for thread in Threads %}
                                                <li class="{% if forloop.first %}active{% endif %}"
                                                    chat-id="{{ thread.id }}"
                                                    user-id="{% if thread.first_person == user %}{{ thread.second_person.id }}{% else %}{{ thread.first_person.id }}{% endif %}"
                                                    user-name="{% if thread.first_person == user %}{{ thread.second_person.profile }}{% else %}{{ thread.first_person.profile }}{% endif %}"
                                                    user-avatar="{% if thread.first_person == user %}{{ thread.second_person.profile.avatar_url }}{% else %}{{ thread.first_person.profile.avatar_url }}{% endif %}"
                                                    user-bio="{% if thread.first_person == user %}{{ thread.second_person.profile.bio }}{% else %}{{ thread.first_person.profile.bio }}{% endif %}">
                                                    <a href="javascript: void(0);">
                                                        <div class="d-flex">
                                                            <div
                                                                class="chat-user-img online align-self-center me-3 ms-0">
                                                                <img src="{% if thread.first_person == user %}{{ thread.second_person.profile.avatar_url }}{% else %}{{ thread.first_person.profile.avatar_url }}{% endif %}"
                                                                    class="rounded-circle avatar-xs" alt="" />
                                                                <span class="user-status"></span>
                                                            </div>
                                                            <div class="flex-grow-1 overflow-hidden">
                                                                <h5 class="text-truncate font-size-15 mb-1">
                                                                    {% if thread.first_person == user %}{{ thread.second_person.profile }}{% else %}{{ thread.first_person.profile }}{% endif %}
                                                                </h5>
                                                                <p class="chat-user-message text-truncate mb-0">
                                                                    Nice to meet you
                                                                </p>
                                                            </div>
                                                            <div class="font-size-11">
                                                                10:12 AM
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                {% endfor %}

                                                {% comment %}
                                                <li>
                                                    <a href="javascript: void(0);">
                                                        <div class="d-flex">
                                                            <div
                                                                class="chat-user-img online align-self-center me-3 ms-0">
                                                                <img src="{% static 'img/avatar-2.jpg' %}"
                                                                    class="rounded-circle avatar-xs" alt="" />
                                                                <span class="user-status"></span>
                                                            </div>

                                                            <div class="flex-grow-1 overflow-hidden">
                                                                <h5 class="text-truncate font-size-15 mb-1">
                                                                    Patrick
                                                                    Hendricks
                                                                </h5>
                                                                <p class="chat-user-message text-truncate mb-0">
                                                                    Hey!
                                                                    there
                                                                    I'm
                                                                    available
                                                                </p>
                                                            </div>
                                                            <div class="font-size-11">
                                                                05 min
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="typing">
                                                    <a href="javascript: void(0);">
                                                        <div class="d-flex">
                                                            <div
                                                                class="chat-user-img align-self-center online me-3 ms-0">
                                                                <div class="avatar-xs">
                                                                    <span
                                                                        class="avatar-title rounded-circle bg-soft-primary text-primary">
                                                                        A
                                                                    </span>
                                                                </div>
                                                                <span class="user-status"></span>
                                                            </div>
                                                            <div class="flex-grow-1 overflow-hidden">
                                                                <h5 class="text-truncate font-size-15 mb-1">
                                                                    Albert
                                                                    Rodarte
                                                                </h5>
                                                                <p class="chat-user-message text-truncate mb-0">
                                                                    typing<span class="animate-typing">
                                                                        <span class="dot"></span>
                                                                        <span class="dot"></span>
                                                                        <span class="dot"></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                            <div class="font-size-11">
                                                                04:56 PM
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="unread">
                                                    <a href="javascript: void(0);">
                                                        <div class="d-flex">
                                                            <div class="chat-user-img away align-self-center me-3 ms-0">
                                                                <img src="{% static 'img/avatar-3.jpg' %}"
                                                                    class="rounded-circle avatar-xs" alt="" />
                                                                <span class="user-status"></span>
                                                            </div>
                                                            <div class="flex-grow-1 overflow-hidden">
                                                                <h5 class="text-truncate font-size-15 mb-1">
                                                                    Mark
                                                                    Messer
                                                                </h5>
                                                                <p class="chat-user-message text-truncate mb-0">
                                                                    <i class="ri-image-fill align-middle me-1 ms-0"></i>
                                                                    Images
                                                                </p>
                                                            </div>
                                                            <div class="font-size-11">
                                                                12 min
                                                            </div>
                                                            <div class="unread-message">
                                                                <span
                                                                    class="badge badge-soft-danger rounded-pill">02</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                {% endcomment %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto;height: 890px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
                            <div class="simplebar-scrollbar" style="transform: translate3d(0px,0px,0px);display: none;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible">
                            <div class="simplebar-scrollbar"
                                style="height: 93px;transform: translate3d(0px,176px,0px);display: block;"></div>
                        </div>
                    </div>
                </div>
                <!-- End chat-message-list -->

            </div>
            <!-- End chats content -->

        </div>
        <!-- end chat-leftsidebar -->


        <!-- Start User chat -->
        <div class="user-chat w-100 overflow-hidden">

            <div class="d-lg-flex">

                <!-- start chat conversation section -->
                <div class="w-100 overflow-hidden position-relative">

                    {% for thread in Threads %}

                    {% if forloop.first %}
                    <input type="hidden" id="send-to-user"
                        value="{% if thread.first_person == user %}{{ thread.second_person.id }}{% else %}{{ thread.first_person.id }}{% endif %}" />
                    {% endif %}

                    <div id="chat-{{ thread.id }}" class="chat-window {% if not forloop.first %}d-none{% endif %}">

                        <!-- start chat user head -->
                        <div class="p-3 p-lg-4 border-bottom user-chat-topbar">
                            <div class="row align-items-center">
                                <div class="col-12 user-profile-show" style="cursor: pointer">
                                    <div class="d-flex align-items-center">
                                        <div class="d-block d-lg-none me-2 ms-0">
                                            <a class="user-chat-remove text-muted font-size-16 p-2"
                                                href="javascript: void(0);">
                                                <i class="ri-arrow-left-s-line"></i>
                                            </a>
                                        </div>
                                        <div class="me-3 ms-0">
                                            <img class="rounded-circle avatar-xs"
                                                src="{% if thread.first_person == user %}{{ thread.second_person.profile.avatar_url }}{% else %}{{ thread.first_person.profile.avatar_url }}{% endif %}"
                                                alt="{% if thread.first_person == user %}{{ thread.second_person.profile }}{% else %}{{ thread.first_person.profile }}{% endif %}" />
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="font-size-16 mb-0 text-truncate">
                                                <a href="javascript: void(0);"
                                                    class="text-reset">{% if thread.first_person == user %}{{ thread.second_person.profile }}{% else %}{{ thread.first_person.profile }}{% endif %}</a>
                                                <i
                                                    class="ri-record-circle-fill font-size-10 text-success d-inline-block ms-1"></i>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end chat user head -->

                        <!-- start chat conversation -->
                        <div class="chat-conversation p-3 p-lg-4" data-simplebar="init">
                            <div class="simplebar-wrapper" style="margin: -24px">
                                <div class="simplebar-height-auto-observer-wrapper">
                                    <div class="simplebar-height-auto-observer"></div>
                                </div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: -17px; bottom: 0px">
                                        <div id="chat-container-{{ thread.id }}"
                                            class="chat-container simplebar-content-wrapper"
                                            style="height: 100%;overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 24px">
                                                <ul class="list-unstyled mb-0" id="chat-body-{{ thread.id }}">

                                                    {% for chat in thread.chatmessage_thread.all %}

                                                    <li class="{% if chat.user == user %}right{% endif %}">
                                                        <div class="conversation-list">
                                                            <div class="chat-avatar">
                                                                <img src="{{ chat.user.profile.avatar_url }}"
                                                                    alt="{{ chat.user.profile }}" />
                                                            </div>
                                                            <div class="user-chat-content">
                                                                <div class="ctext-wrap">
                                                                    <div class="ctext-wrap-content">
                                                                        <p class="mb-0">{{ chat.message }}</p>
                                                                        <p class="chat-time mb-0">
                                                                            <i class="ri-time-line align-middle"></i>
                                                                            <span
                                                                                class="align-middle">{{ chat.created_at|date:"d D" }},
                                                                                {{ chat.created_at|time:"h:i A" }}</span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="dropdown align-self-start">
                                                                        <a class="dropdown-toggle"
                                                                            href="javascript: void(0);" role="button"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-haspopup="true" aria-expanded="false">
                                                                            <i class="ri-more-2-fill"></i>
                                                                        </a>
                                                                        <div class="dropdown-menu">
                                                                            <a class="dropdown-item"
                                                                                href="javascript: void(0);">
                                                                                Copy
                                                                                <i
                                                                                    class="ri-file-copy-line float-end text-muted"></i>
                                                                            </a>
                                                                            <a class="dropdown-item"
                                                                                href="javascript: void(0);">
                                                                                Save
                                                                                <i
                                                                                    class="ri-save-line float-end text-muted"></i>
                                                                            </a>
                                                                            <a class="dropdown-item"
                                                                                href="javascript: void(0);">
                                                                                Forward
                                                                                <i
                                                                                    class="ri-chat-forward-line float-end text-muted"></i>
                                                                            </a>
                                                                            <a class="dropdown-item"
                                                                                href="javascript: void(0);">
                                                                                Delete
                                                                                <i
                                                                                    class="ri-delete-bin-line float-end text-muted"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="conversation-name">
                                                                    {% if chat.user == user %}You{% else %}{{ chat.user.profile }}{% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    {% endfor %}

                                                    {% comment %}
                                                    <li>
                                                        <div class="chat-day-title">
                                                            <span class="title">Today</span>
                                                        </div>
                                                    </li>
                                                    {% endcomment %}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simplebar-placeholder" style="width: auto; height: 1153px"></div>
                            </div>
                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
                                <div class="simplebar-scrollbar"
                                    style="transform: translate3d(0px, 0px, 0px);display: none;"></div>
                            </div>
                            <div class="simplebar-track simplebar-vertical" style="visibility: visible">
                                <div class="simplebar-scrollbar"
                                    style="height: 127px;transform: translate3d(0px, 257px, 0px);display: block;"></div>
                            </div>
                        </div>
                        <!-- end chat conversation end -->

                    </div>

                    {% endfor %}

                    <!-- start chat input section -->
                    <div class="chat-input-section p-3 p-lg-4 border-top mb-0">
                        <form action="#" method="POST" id="send-message-form">
                            <div class="row g-0">
                                <div class="col">
                                    <input type="text" class="form-control form-control-lg bg-light border-light"
                                        placeholder="Enter Message..." id="message-input" />
                                </div>
                                <div class="col-auto">
                                    <div class="chat-input-links ms-md-2 me-md-0">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="" data-bs-original-title="Emoji">
                                                <button type="button"
                                                    class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect">
                                                    <i class="ri-emotion-happy-line"></i>
                                                </button>
                                            </li>
                                            <li class="list-inline-item" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="" data-bs-original-title="Attached File">
                                                <button type="button"
                                                    class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect">
                                                    <i class="ri-attachment-line"></i>
                                                </button>
                                            </li>
                                            <li class="list-inline-item">
                                                <button type="submit"
                                                    class="btn btn-primary font-size-16 btn-lg chat-send waves-effect waves-light">
                                                    <i class="ri-send-plane-2-fill"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- end chat input section -->

                </div>
                <!-- end chat conversation section -->

                <!-- start User profile detail sidebar -->
                <div class="user-profile-sidebar d-none" id="user-profile">
                    <div class="px-3 px-lg-4 pt-3 pt-lg-4">
                        <div class="user-chat-nav text-end">
                            <button type="button" class="btn nav-btn" id="user-profile-hide">
                                <i class="ri-close-line"></i>
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-4 border-bottom">
                        <div class="mb-4">
                            <img src="" class="user-profile-avatar rounded-circle avatar-lg img-thumbnail" alt="" />
                        </div>

                        <h5 class="user-profile-name font-size-16 mb-1 text-truncate"></h5>
                        <p class="text-muted text-truncate mb-1">
                            <i class="ri-record-circle-fill font-size-10 text-success me-1 ms-0"></i>
                            Active
                        </p>
                    </div>
                    <!-- End profile user -->

                    <!-- Start user-profile-desc -->
                    <div class="p-4 user-profile-desc" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -24px">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                                    <div class="simplebar-content-wrapper" style="height: auto;overflow: hidden;">
                                        <div class="simplebar-content" style="padding: 24px">
                                            <div class="text-muted">
                                                <p class="mb-4 user-profile-bio"></p>
                                            </div>
                                            <!-- end user-profile-desc -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: 0px; height: 0px"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
                            <div class="simplebar-scrollbar"
                                style="transform: translate3d(0px, 0px, 0px);display: none;"></div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: hidden">
                            <div class="simplebar-scrollbar"
                                style="transform: translate3d(0px, 0px, 0px);display: none;"></div>
                        </div>
                    </div>
                    <!-- end User profile detail sidebar -->

                </div>

            </div>
            <!-- End User chat -->

        </div>
        <!-- end  layout wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/simplebar.min.js' %}"></script>
        <script src="{% static 'js/waves.min.js' %}"></script>

        <!-- Magnific Popup-->
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

        <!-- owl.carousel js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>

        <!-- page init -->
        <script src="{% static 'js/index.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/chat.js' %}"></script>
    </div>
</body>

</html>